* {
    --scrollbarBg: var(--sections-color);
    --scrollbarThumb: var(--sidebar-background-color);
    --scrollbarWidth: 10px;
    --scrollbarBorder: 3px solid var(--scrollbarBg);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}
.removed-brokers-list::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}
.removed-brokers-list::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarBorderRadius);
}
.removed-brokers-list::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}

.removed-brokers-list{
    background: var(--sections-color);
    border-radius: 5px;
    height: calc(50% - 12px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow-y: scroll;
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}

.recover-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 25px;
    background: var(--selector-background-color);
    border-radius: 5px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* identical to box height */
    color: var(--text-color);
}
.recover-button:hover{
    background: var(--green-color);
    color: var(--sidebar-background-color);
    cursor: pointer;
}
