* {
    --scrollbarBg: var(--sections-color);
    --scrollbarThumb: var(--sidebar-background-color);
    --scrollbarWidth: 10px;
    --scrollbarBorder: 3px solid var(--scrollbarBg);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}
.removed-brokers-list::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}
.removed-brokers-list::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarBorderRadius);
}
.removed-brokers-list::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}

.removed-brokers-list{
    background: var(--sections-color);
    border-radius: 5px;
    height: calc(50% - 12px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow-y: scroll;
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}
