.wrapper{
    display: flex;
    height: 100vh;
    width: 93vw;

}

.stocks-list{
    width: 30vw;
    height: 97%;
    color: var(--title-color);
    background: var(--sections-color);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stocks-details{
    width: 65vw;
    height: 97%;
    color: var(--title-color);
    background: var(--sections-color);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
}

.title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */

    margin-left: 40px;
    color: var(--title-color);
}

.text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* identical to box height */

    color: #6D6D74;
}

.description{
    display: grid;
    justify-items: start;
    grid-template-columns: 5vw 7vw 6vw 5vw 5vw;
    margin-left: 20px;
}

.description-border{
    border-top: 2px solid #35353F;
}

.symbol {
    width: 55px;
    background: var(--selector-background-color);
    border-radius: 5px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* identical to box height */
    color: var(--text-color);
}

.fullName{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    /* identical to box height */
    color: var(--text-color);
}

.green-color{
    color: var(--green-color);
}
.red-color{
    color: var(--red-color);
}
.none-color{
    color: var(--none-color);
}


